[submodule "my-bollards-got-led/bollard/components/arduino"]
	path = my-bollards-got-led/bollard/components/arduino
	url = https://github.com/espressif/arduino-esp32.git
[submodule "my-bollards-got-led/bollard/components/FastLED"]
	path = my-bollards-got-led/bollard/components/FastLED
	url = https://github.com/FastLED/FastLED.git
